<div id="header">
  <h1>Restaurant Name - <%= @menu.name %></h1>
  <%= image_tag("/images/menu_hr.jpg") %>
</div>

<%- @menu.categories.each do |category| -%>
  <h1><%= category.name %></h1>
  <%= "<h3>#{simple_format(category.description)}</h3>" unless category.description.nil? %>
  <% category.items.each do |item| %>
    <div class="menu_item">
      <h2><%= item.name %></h2>
      <%= "<h4>#{simple_format(item.description)}</h4>" unless item.description.empty? %>
      <table class="size_holder">
      <%- item.prices.each do |price| -%>
        <tr>
          <td class="item_size"><%= "#{price.description}: " unless price.description.blank? %></td>
          <td class="item_price"><%= number_to_currency(price.price) %></td>
        </tr>
      <%- end -%>
      </table>
    </div>
  <%- end -%>
<%- end -%>