<% title '<img src="/images/title_manage_menu.png" alt="" />' %>

<h1 id="title_menu_name">
  Current Menu: <%= @menu.name %>
  <%= link_to "(edit)", edit_menu_path(@menu) %>
  <%= link_to "(view)", print_menu_path(@menu), :target => "_blank" %>
  <%= link_to "(add item)", new_menu_item_path(@menu) %>
</h1>
<div id="show_container">
  <% if @menu.categories.empty? %>
    <div id="categories-list">To get started, please add a category below.</div>
  <% else %>
    <div id="categories-list">
      <p id="categories-links" class="category_sections2">
        <img src="/images/label_jump_to.png" alt="Jump To" />
        <span><%= @names.join(' | ') %></span>
      </p>
      <% @categories.each do |category| %>
        <%= render "shared/category", :category => category %>
      <% end %>
    </div>
  <% end %>

  <% form_for [@menu, Category.new] do |f| -%>
    <h2><img src="/images/sub_title_new_category.jpg" alt="Want to Add a New Category?" /></h2>
    <p id="show_new_category">
      <%= f.text_field :name %><%= image_submit_tag "/images/button_add_category.jpg", :id => "add_category" %>
    </p>
  <% end -%>
</div>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $('#categories-list').sortable(
    {
      axis: 'y',
      dropOnEmpty: false,
      handle: '.button_move',
      items: '.category_sections',
      opacity: 0.4,
      scroll: true,
      update: function(b, u) {
        $.ajax({
          type: 'post',
          data: { id: $(u.item).attr('id').split('_')[1], position: $(u.item).index() + 1 },
          dataType: 'script',
          complete: function(request) {
            $(u.item).effect('highlight');
          },
          url: '/categories/position'
        })
      }
    });
    $('.items-list').sortable(
    {
      axis: 'y',
      dropOnEmpty: false,
      handle: '.link_move',
      items: '.item_info',
      opacity: 0.4,
      scroll: true,
      update: function(b, u) {
        $.ajax({
          type: 'post',
          data: { id: $(u.item).attr('id').split('_')[1], position: $(u.item).index() + 1 },
          dataType: 'script',
          complete: function(request) {
            $(u.item).effect('highlight');
          },
          url: '/items/position'
        })
      }
    });
  <% end %>
<% end %>