<div class="category_sections" id="category_<%= category.id -%>">
  <h2><a name="<%= category.name.parameterize %>"><%= category.name %></a></h2>
  <div class="category_buttons">
    <p><%= link_to '<img src="/images/button_add_item.jpg" alt="add item" title="add item to ' + category.name + '" />', new_category_item_path(category) %></p>
    <p><%= link_to '<img src="/images/button_edit.jpg" alt="edit" title="edit ' + category.name + '" />', edit_category_path(category) %></p>
    <p><%= link_to '<img src="/images/button_delete.jpg" alt="delete" />', category_path(category), :method => :delete, :confirm => "Are you sure you want to delete #{category.name}?  (This will delete all items and prices in the category.)" %></p>
    <p><img src="/images/button_move.jpg" class="button_move" alt="move" /></p>
  </div>
  <div class="clear"></div>
  <ul class="items-list">
    <% category.items.each do |item| %>
        <%= render "shared/item", :item => item %>
    <% end %>
  </ul>
  <a href="#" class="back_to_top">(Back to Top)</a>
  <div class="clear"></div>
</div>