<%= f.error_messages %>
<input type="hidden" name="menu_id" value="<%= params[:menu_id] %>" id="menu_id">
<p>
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, @menu.categories.all, :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<% f.fields_for :prices do |builder| %>
  <%= render "shared/price_fields", :f => builder %>
<% end %>
<p><%= link_to_add_fields image_tag("/images/button_add_field.jpg"), f, :prices, :class => 'add_field' %></p>