<% title '<img src="/images/title_edit_category.png" alt="" />' %>

<% form_for @category, :html => { :class => 'form_style' } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, 'Description <span>(optional)</span>' %>
    <%= f.text_area :description %>
  </p>
  <p class="submit_button_style">
    <%= image_submit_tag "/images/button_save_changes.jpg" %>
  </p>
<% end %>