<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Alacarte</title>
    <%= stylesheet_link_tag 'reset', 'application' %>
    <%= javascript 'jquery', 'jquery-ui', 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div id="header_stuff">
        <div id="green_bar"></div>
        <%= link_to image_tag("/images/logo.png", :id => "logo"), "/" %>
        <% if signed_in? %>
          <div id="tabs">
            <%= link_to image_tag("/images/tab_home.jpg", :alt => "Home"), "/" %>
            <%= link_to image_tag('/images/tab_new_menu.jpg', :alt => "New Menu"), new_menu_path %>
            <a href="#"><img src="/images/tab_help.jpg" alt="Help" /></a>
          </div>
        <% end %>
      </div>
    </div>
    <div id="container">
      <div id="inner_container">
        <div id="nav">
          <% if signed_in? %>
            <div id="nav_top"></div>
            <div id="nav_middle"></div>
          <% else %>
            <div id="nav_top_main"></div>
            <div id="nav_middle">
              <h1>Log In</h1>
              <% form_for UserSession.new, :url => user_session_path do |f| %>
                <%= f.error_messages %>
                <%= f.label :email %><br />
                <%= f.text_field :email %><br />
                <br />
                <%= f.label :password %><br />
                <%= f.password_field :password %><br />
                <br />
                <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
                <br />
                <%= f.submit "Login" %>
              <% end %>
            </div>
          <% end %>
          <div id="nav_bottom"></div>
        </div>
        <div id="edit_section">
          <%- if show_title? -%>
            <h1 id="title"><%= yield(:title) %></h1>
          <%- end -%>
          
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
      
        <%= yield %>
        </div><!--end edit section-->
      </div><!--end inner container-->
      <div class="clear"></div>
    </div><!--end container-->
    <div id="container_bottom"></div>
    <%= yield :javascript %>
  </body>
</html>
